* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition:0.3s ease-in;
}



/* Left */
#Leftbar {
    height: 100vh;
    background: #134273 url(../image/icon/Left-BG.png) no-repeat;
    background-size: cover;
    box-shadow: inset -50px 0px 50px -50px #00000075;
    position: fixed;
}


#Leftbar .ms {
    background-color: #ecd4c830;
    max-width: 250px;
    max-height: 250px;
    margin: 100px;
    padding: 10px;
    border-radius: 5px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.extr_link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.extr_link ul a {
    width: 250px;
    height: 50px;
    background-color: #ecd4c8;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}

.extr_link ul li {
    font-size: 25px;
    font-weight: bold;
    color: #134273;
}

.extr_link ul a::before {
    padding: 0 10px;
}

.extr_link ul a:nth-child(1)::before {
    content: url(../image/icon/IG.png);
}

.extr_link ul a:nth-child(2)::before {
    content: url(../image/icon/Email.png);
}

/* Right */
#Rightbar {
    max-width: calc(100vw - (100vw - 100%) - 450px);
    width: 100%;
    margin-left: 450px;
}

#Rightbar .content {
    padding-left: 50px;
    padding-right: 50px;
}

#Header {
    width: 100%;
    height: 100px;
    background-color: #134273;
}

.nav {
    height: 100%;
}

.nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav ul li {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: #ecd4c8;
    border-radius: 10px;
}

.nav ul .focus {
    background-color: #e5852a;
    box-shadow: -3px 0 15px #00000050;
}




/* 作品CSS */
#Main {
    min-height: 100vh;
    background-color: #ecd4c8;
    padding-top: 50px;
    padding-bottom: 50px;
}

#waterfallArea {
    width: 100%;
    columns: 3;
    column-gap: 15px;
}

.content_box {
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 1px #000;
    animation: fade 2s linear 0s forwards;
}

.content_box img {
    max-width: 100%;
    border-radius: 12px;
}

/* 動畫 */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}