* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    transition: 0.1s ease-in;
}

h1{
    font-size: 25px;
    font-weight: bold;
}


/* Left */
#Leftbar {
    height: 100vh;
    background: #134273 url(../image/icon/Left-BG.png) no-repeat;
    background-size: cover;
    box-shadow: inset -50px 0px 50px -50px #00000075;
    position: fixed;
}


#Leftbar .ms {
    background-color: #ecd4c830;
    max-width: 250px;
    max-height: 250px;
    margin: 100px;
    padding: 10px;
    border-radius: 5px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.extr_link {
    width: 100%;
    display: flex;
    justify-content: center;
}

.extr_link ul a {
    width: 250px;
    height: 50px;
    background-color: #ecd4c8;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;
}


.extr_link ul li {

    color: #134273;
}



.extr_link ul a::before {
    padding: 0 10px;
}

.extr_link ul a:nth-child(1)::before {
    content: url(../image/icon/AboutMe.png);
}

.extr_link ul a:nth-child(2)::before {
    content: url(../image/icon/IG.png);
}


.extr_link ul a:nth-child(3)::before {
    content: url(../image/icon/Email.png);
}

/* Right */
#Rightbar {
    max-width: calc(100vw - (100vw - 100%) - 450px);
    width: 100%;
    margin-left: 450px;
}

#Rightbar .content {
    padding-left: 50px;
    padding-right: 50px;
}

#Header {
    width: 100%;
    height: 100px;
    background-color: #134273;
}

.nav {
    height: 100%;
}

.nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav ul li {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecd4c8;
    border-radius: 10px;
    cursor: pointer;
}


.nav ul .focus {
    background-color: #e5852a;
    box-shadow: -3px 0 15px #00000050;
}




/* 作品CSS */
#Main {
    min-height: 100vh;
    background-color: #ecd4c8;
    padding: 20px 0;

}

#waterfallArea {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(calc(100%/4), 1fr));
    grid-auto-rows: 0;
}



.content_box {
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 1px #000;
    animation: fade 0.5s linear 0s forwards;
    overflow: hidden;
    cursor: pointer;
}

.content_box img {
    width: 100%;
    border-radius: 12px;

}



/* Modal */
.modal {
    display: none;
    position: fixed;
    /* 固定位置 */
    z-index: 999;
    /* 層級 */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    /* 滾動 */
    background-color: #0008;
}

.modal-content {
    width: 50%;
    margin: 1% auto;
    /* 中央顯示 */
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 2px 2px 5px #000;
    background-color: #ecd4c8;
    display: inline-table;
}

.close {
    width: 100%;
    height: 50px;
    border-radius: 12px 12px 0 0;
    background-color: #134273;
    display: flex;
    padding-right: 20px;
    justify-content: right;
    align-items: center;
    color: #ecd4c8;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.modal-content .modalImage_box{
    width: 100%;
    min-height: 91vh;
    border-radius: 0 0 12px 12px;
    background: #000;
    display: flex;
    align-items: center;
}

.modal-content img {
    height: fit-content;
}

/* 動畫 */
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* hover */
.extr_link ul a:hover {
    background-color: #e5852a;
}

.extr_link ul a:hover li {
    color: #ecd4c8;
}

nav ul li:hover {
    color: #e5852a;
}

nav ul .focus:hover {
    color: #ecd4c8;
}

.extr_link ul a:nth-child(1):hover::before {
    content: url(../image/icon/AboutMe-hover.png);
}

.extr_link ul a:nth-child(2):hover::before {
    content: url(../image/icon/IG-hover.png);
}

.extr_link ul a:nth-child(3):hover::before {
    content: url(../image/icon/Email-hover.png);
}

.content_box:hover {
    box-shadow: -1px 0px 5px #134273;
}

.close:hover,
.close:focus {
    color: #e5852a;
    text-decoration: none;
    cursor: pointer;
}

/* RWD */

.nav {
    display: flex;
}

.mobile_extr_link {
    display: none;
    align-items: center;
}

.mobile_extr_link a {
    margin-right: 15px;
    width: auto;
    height: 60px;
    display: block;
}


.mobile_extr_link :nth-child(1) {
    content: url(../image/icon/AboutMe-hover.png);
}
.mobile_extr_link :nth-child(2) {
    content: url(../image/icon/IG-hover.png);
}

.mobile_extr_link :nth-child(3) {
    content: url(../image/icon/Email-hover.png);
}

@media(max-width: 1560px) {
    #Leftbar .ms {
        margin: 100px 50px;
    }

    #Rightbar {
        max-width: calc(100vw - (100vw - 100%) - 350px);
        margin-left: 350px;
    }

    #waterfallArea {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
    }

    .modal-content {
        width: 55%;
    }
}

@media(max-width: 1280px) {
    .modal-content {
        width: 92%;
    }

    #Leftbar {
        display: none;
    }
    .mobile_extr_link {
        display: flex;
    }
    .mobile_extr_link a{
        height: 50px;
    }
    
    #Rightbar {
        max-width: calc(100vw - (100vw - 100%));
        margin-left: 0;
    }
    h1{
        font-size: 23px;
    }

}

@media(max-width: 768px) {
    #waterfallArea {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% / 2), 1fr));
    }
    #Rightbar .content{
        padding-left: 10px;
        padding-right: 10px;
        height: auto;
    }
    .nav{
        flex-direction: column;
    }
    .nav ul {
        justify-content: center;
    }
    .nav ul li{
        border-radius:15px 15px 0 0 ;
    }

    .mobile_extr_link a{
        height: 40px;
        margin: 10px 0;
        margin-right: 10px;
    }
    .modal-content{
        margin: 3% auto;
    }
    h1{
        font-size: 20px;
    }
}